/* -*-css-*- http://www.w3.org/TR/REC-CSS2 */

/* body*/
#main
{
    border-style: none;
    padding-left: 5%;
    padding-right: 15%;
    width: 40em;
    /* font-family: "new century schoolbook"; */
    /* font-family: sans-serif; */
    font-family: courier;
    font-size: 90%;
}

img
{
    border: none;
}

