body.dialogs
{
    font-size: 75%;
}

label.dialog
{
    font-size: 75%;
    display: block;
}

input.text
{
    margin-bottom: 12px;
    font-size: 90%;
    width: 95%;
    padding: 0.4em;
}

fieldset.dialog
{
    padding: 0;
    border: 0;
    margin-top: 25px;
}

.validate-tips
{
    border: 1px solid transparent;
    padding: 0.3em;
}
