#notebar
{
    padding: 4px;
    display: inline-block;
}
/* support: ie7 */
*+html #notebar
{
    display: inline;
}

.ui-button-icon-only
{
    z-index: 1;
    height: 1.5em;
    width: 1.5em;
}

button.ui-button-icon-only
{
    z-index: 1;
    height: 1.5em;
    width: 1.5em;
}

.ui-icon-custom
{
    z-index: 1;
    background-size: 16px 16px;
}

#label-note-0 > span.ui-icon-custom
{
    background-image: url(images/icon-note-0.svg);
}

#label-note-1 > span.ui-icon-custom
{
    background-image: url(images/icon-note-1.svg);
}

#label-note-2 > span.ui-icon-custom
{
    background-image: url(images/icon-note-2.svg);
}

#label-note-3 > span.ui-icon-custom
{
    background-image: url(images/icon-note-3.svg);
}

#label-note-4 > span.ui-icon-custom
{
    background-image: url(images/icon-note-4.svg);
}

#label-note-5 > span.ui-icon-custom
{
    background-image: url(images/icon-note-5.svg);
}

#label-note-6 > span.ui-icon-custom
{
    background-image: url(images/icon-note-6.svg);
}

#label-note-7 > span.ui-icon-custom
{
    background-image: url(images/icon-note-7.svg);
}

#label-note-0 > span.ui-icon-custom
{
    background-image: url(images/icon-note-0.svg);
}

#label-note-1 > span.ui-icon-custom
{
    background-image: url(images/icon-note-1.svg);
}

#label-note-2 > span.ui-icon-custom
{
    background-image: url(images/icon-note-2.svg);
}

#label-note-3 > span.ui-icon-custom
{
    background-image: url(images/icon-note-3.svg);
}

#label-note-4 > span.ui-icon-custom
{
    background-image: url(images/icon-note-4.svg);
}

#label-note-5 > span.ui-icon-custom
{
    background-image: url(images/icon-note-5.svg);
}

#label-note-6 > span.ui-icon-custom
{
    background-image: url(images/icon-note-6.svg);
}

#label-note-7 > span.ui-icon-custom
{
    background-image: url(images/icon-note-7.svg);
}

#label-note-0 > span.ui-icon-custom.rest
{
    background-image: url(images/icon-rest-0.svg);
}

#label-note-1 > span.ui-icon-custom.rest
{
    background-image: url(images/icon-rest-1.svg);
}

#label-note-2 > span.ui-icon-custom.rest
{
    background-image: url(images/icon-rest-2.svg);
}

#label-note-3 > span.ui-icon-custom.rest
{
    background-image: url(images/icon-rest-3.svg);
}

#label-note-4 > span.ui-icon-custom.rest
{
    background-image: url(images/icon-rest-4.svg);
}

#label-note-5 > span.ui-icon-custom.rest
{
    background-image: url(images/icon-rest-5.svg);
}

#label-note-6 > span.ui-icon-custom.rest
{
    background-image: url(images/icon-rest-6.svg);
}

#label-note-7 > span.ui-icon-custom.rest
{
    background-image: url(images/icon-rest-7.svg);
}

#dot > span.ui-icon-custom
{
    background-image: url(images/icon-dotted.svg);
}

#dot > span.ui-icon-custom.rest
{
    background-image: url(images/icon-rest-dotted.svg);
}

#label-rest > span.ui-icon-custom
{
    background-image: url(images/icon-rest-2.svg);
}

#label-rest > span.ui-icon-custom.rest
{
    background-image: url(images/icon-note-2.svg);
}

#alteration--1 > span.ui-icon-custom
{
    background-image: url(images/icon-alteration--1.svg);
}

#alteration-1 > span.ui-icon-custom
{
    background-image: url(images/icon-alteration-1.svg);
}

#ottava--1 > span.ui-icon-custom
{
    background-image: url(images/icon-ottava.-1.svg);
}

#ottava-1 > span.ui-icon-custom
{
    background-image: url(images/icon-ottava.1.svg);
}

.ui-menu
{
    width: 16px;
    height: 16px;
}

.ui-clef-menu
{
    width: 16px;
    height: 16px;
}

#a-clef > span.ui-icon-custom
{
    background-image: url(images/icon-clefs.g.svg);
}

#key-a-major > span.ui-icon-custom
{
    background-image: url(images/icon-key-A.svg);
}

#time-3-4 > span.ui-icon-custom
{
    background-image: url(images/icon-time.3-4.svg);
}

ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
}

li
{
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
}

div.hover-menu
{
    z-index: 1;
    display: inline-block;
    padding: 1px;
    padding-left: 2px;
    height: 26px;
    width: 26px;
    vertical-align: top;
}

ul.hover-button
{
    display: inline;
}

li.hover-button
{
    display: inline;
}

.hover-menu
{
    z-index: 1;
    display: none;
}

.hover-button ul
{
    display: inline;
}

.hover-menu ul
{
    display: table;
}

.hover-menu li
{
    display: table-row-group;
}

.hover-menu button
{
    margin: 0;
    padding: 0;
}

.hover-submenu
{
    display: inline;
}

.hover-submenu ul
{
    display: table-row-group;
}

.hover-submenu button
{
    margin: 0;
    padding: 0;
}

.hover-submenu li
{
    display: table-cell;
}

#button-clef-menu > span.ui-icon-custom
{
    background-image: url(images/icon-clefs.G.svg);
}

#clefs-G > span.ui-icon-custom
{
    background-image: url(images/icon-clefs.G.svg);
}

#clefs-F > span.ui-icon-custom
{
    background-image: url(images/icon-clefs.F.svg);
}

#clefs-C > span.ui-icon-custom
{
    background-image: url(images/icon-clefs.C.svg);
}

#clefs-C-2 > span.ui-icon-custom
{
    background-image: url(images/icon-clefs.C.2.svg);
}

#any-clef > span.ui-icon-custom
{
    background-image: url(images/icon-clefs.any.svg);
}

#button-key-menu > span.ui-icon-custom
{
    background-image: url(images/icon-key-A.svg);
}

#key-C > span.ui-icon-custom
{
    background-image: url(images/icon-key-C.svg);
}

#key-G > span.ui-icon-custom
{
    background-image: url(images/icon-key-G.svg);
}

#key-D > span.ui-icon-custom
{
    background-image: url(images/icon-key-D.svg);
}

#key-A > span.ui-icon-custom
{
    background-image: url(images/icon-key-A.svg);
}

#key-E > span.ui-icon-custom
{
    background-image: url(images/icon-key-E.svg);
}

#key-F > span.ui-icon-custom
{
    background-image: url(images/icon-key-F.svg);
}

#key-BES > span.ui-icon-custom
{
    background-image: url(images/icon-key-BES.svg);
}

#key-EES > span.ui-icon-custom
{
    background-image: url(images/icon-key-EES.svg);
}

#key-AES > span.ui-icon-custom
{
    background-image: url(images/icon-key-AES.svg);
}

#any-key > span.ui-icon-custom
{
    background-image: url(images/icon-key.any.svg);
}

#button-time-menu > span.ui-icon-custom
{
    background-image: url(images/icon-time.3-4.svg);
}

#qtime-4-4 > span.ui-icon-custom
{
    background-image: url(images/icon-time.C.svg);
}

#qtime-2-2 > span.ui-icon-custom
{
    background-image: url(images/icon-time.C-.svg);
}

#qtime-3-4 > span.ui-icon-custom
{
    background-image: url(images/icon-time.3-4.svg);
}

#qtime-3-8 > span.ui-icon-custom
{
    background-image: url(images/icon-time.3-8.svg);
}

#time-1 > span.ui-icon-custom
{
    background-image: url(images/icon-time.1-1.svg);
}

#time-1-1 > span.ui-icon-custom
{
    background-image: url(images/icon-time.1-1.svg);
}

#time-2-1 > span.ui-icon-custom
{
    background-image: url(images/icon-time.2-1.svg);
}

#time-3-1 > span.ui-icon-custom
{
    background-image: url(images/icon-time.3-1.svg);
}

#time-4-1 > span.ui-icon-custom
{
    background-image: url(images/icon-time.4-1.svg);
}

#time-5-1 > span.ui-icon-custom
{
    background-image: url(images/icon-time.5-1.svg);
}

#time-2 > span.ui-icon-custom
{
    background-image: url(images/icon-time.G.svg);
}

#time-1-2 > span.ui-icon-custom
{
    background-image: url(images/icon-time.1-2.svg);
}

#time-C- > span.ui-icon-custom
{
    background-image: url(images/icon-time.C-.svg);
}

#time-2-2 > span.ui-icon-custom
{
    background-image: url(images/icon-time.2-2.svg);
}

#time-3-2 > span.ui-icon-custom
{
    background-image: url(images/icon-time.3-2.svg);
}

#time-4-2 > span.ui-icon-custom
{
    background-image: url(images/icon-time.4-2.svg);
}

#time-5-2 > span.ui-icon-custom
{
    background-image: url(images/icon-time.5-2.svg);
}

#time-6-2 > span.ui-icon-custom
{
    background-image: url(images/icon-time.6-2.svg);
}

#time-4 > span.ui-icon-custom
{
    background-image: url(images/icon-time.G.svg);
}

#time-1-4 > span.ui-icon-custom
{
    background-image: url(images/icon-time.1-4.svg);
}

#time-2-4 > span.ui-icon-custom
{
    background-image: url(images/icon-time.2-4.svg);
}

#time-3-4 > span.ui-icon-custom
{
    background-image: url(images/icon-time.3-4.svg);
}

#time-C > span.ui-icon-custom
{
    background-image: url(images/icon-time.C.svg);
}

#time-4-4 > span.ui-icon-custom
{
    background-image: url(images/icon-time.4-4.svg);
}

#time-5-4 > span.ui-icon-custom
{
    background-image: url(images/icon-time.5-4.svg);
}

#time-6-4 > span.ui-icon-custom
{
    background-image: url(images/icon-time.6-4.svg);
}

#time-7-4 > span.ui-icon-custom
{
    background-image: url(images/icon-time.7-4.svg);
}

#time-8-4 > span.ui-icon-custom
{
    background-image: url(images/icon-time.8-4.svg);
}

#time-9-4 > span.ui-icon-custom
{
    background-image: url(images/icon-time.9-4.svg);
}

#time-12-4 > span.ui-icon-custom
{
    background-image: url(images/icon-time.12-4.svg);
}

#time-8 > span.ui-icon-custom
{
    background-image: url(images/icon-time.G.svg);
}

#time-1-8 > span.ui-icon-custom
{
    background-image: url(images/icon-time.1-8.svg);
}

#time-2-8 > span.ui-icon-custom
{
    background-image: url(images/icon-time.2-8.svg);
}

#time-3-8 > span.ui-icon-custom
{
    background-image: url(images/icon-time.3-8.svg);
}

#time-4-8 > span.ui-icon-custom
{
    background-image: url(images/icon-time.4-8.svg);
}

#time-5-8 > span.ui-icon-custom
{
    background-image: url(images/icon-time.5-8.svg);
}

#time-6-8 > span.ui-icon-custom
{
    background-image: url(images/icon-time.6-8.svg);
}

#time-7-8 > span.ui-icon-custom
{
    background-image: url(images/icon-time.7-8.svg);
}

#time-8-8 > span.ui-icon-custom
{
    background-image: url(images/icon-time.8-8.svg);
}

#time-9-8 > span.ui-icon-custom
{
    background-image: url(images/icon-time.9-8.svg);
}

#time-12-8 > span.ui-icon-custom
{
    background-image: url(images/icon-time.12-8.svg);
}

#time-16 > span.ui-icon-custom
{
    background-image: url(images/icon-time.G.svg);
}

#time-1-16 > span.ui-icon-custom
{
    background-image: url(images/icon-time.1-16.svg);
}

#time-2-16 > span.ui-icon-custom
{
    background-image: url(images/icon-time.2-16.svg);
}

#time-3-16 > span.ui-icon-custom
{
    background-image: url(images/icon-time.3-16.svg);
}

#time-4-16 > span.ui-icon-custom
{
    background-image: url(images/icon-time.4-16.svg);
}

#time-5-16 > span.ui-icon-custom
{
    background-image: url(images/icon-time.5-16.svg);
}

#time-6-16 > span.ui-icon-custom
{
    background-image: url(images/icon-time.6-16.svg);
}

#time-7-16 > span.ui-icon-custom
{
    background-image: url(images/icon-time.7-16.svg);
}

#time-8-16 > span.ui-icon-custom
{
    background-image: url(images/icon-time.8-16.svg);
}

#time-9-16 > span.ui-icon-custom
{
    background-image: url(images/icon-time.9-16.svg);
}

#time-12-16 > span.ui-icon-custom
{
    background-image: url(images/icon-time.12-16.svg);
}

#any-time > span.ui-icon-custom
{
    background-image: url(images/icon-time.any.svg);
}

#button-articulation-menu > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.button.svg);
}

#articulation-clear > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.clear.svg);
}

#articulation-digit-0 > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.digit-0.svg);
}

#articulation-digit-1 > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.digit-1.svg);
}

#articulation-digit-2 > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.digit-2.svg);
}

#articulation-digit-3 > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.digit-3.svg);
}

#articulation-digit-4 > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.digit-4.svg);
}

#articulation-digit-5 > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.digit-5.svg);
}

#articulation-accent > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.accent.svg);
}

#articulation-coda > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.coda.svg);
}

#articulation-downbow > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.downbow.svg);
}

#articulation-downmordent > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.downmordent.svg);
}

#articulation-downprall > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.downprall.svg);
}

#articulation-espressivo > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.espressivo.svg);
}

#articulation-fermata > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.fermata.svg);
}

#articulation-flageolet > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.flageolet.svg);
}

#articulation-halfopen > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.halfopen.svg);
}

#articulation-lheel > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.lheel.svg);
}

#articulation-lineprall > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.lineprall.svg);
}

#articulation-longfermata > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.longfermata.svg);
}

#articulation-ltoe > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.ltoe.svg);
}

#articulation-marcato > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.marcato.svg);
}

#articulation-mordent > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.mordent.svg);
}

#articulation-open > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.open.svg);
}

#articulation-portato > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.portato.svg);
}

#articulation-prall > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.prall.svg);
}

#articulation-pralldown > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.pralldown.svg);
}

#articulation-prallmordent > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.prallmordent.svg);
}

#articulation-prallprall > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.prallprall.svg);
}

#articulation-prallup > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.prallup.svg);
}

#articulation-reverseturn > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.reverseturn.svg);
}

#articulation-rheel > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.rheel.svg);
}

#articulation-rtoe > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.rtoe.svg);
}

#articulation-segno > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.segno.svg);
}

#articulation-shortfermata > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.shortfermata.svg);
}

#articulation-signumcongruentiae > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.signumcongruentiae.svg);
}

#articulation-snappizzicato > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.snappizzicato.svg);
}

#articulation-staccatissimo > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.staccatissimo.svg);
}

#articulation-staccato > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.staccato.svg);
}

#articulation-stopped > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.stopped.svg);
}

#articulation-tenuto > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.tenuto.svg);
}

#articulation-thumb > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.thumb.svg);
}

#articulation-trill > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.trill.svg);
}

#articulation-turn > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.turn.svg);
}

#articulation-upbow > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.upbow.svg);
}

#articulation-upmordent > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.upmordent.svg);
}

#articulation-upprall > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.upprall.svg);
}

#articulation-varcoda > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.varcoda.svg);
}

#articulation-verylongfermata > span.ui-icon-custom
{
    background-image: url(images/icon-articulation.verylongfermata.svg);
}

#button-dynamic-menu > span.ui-icon-custom
{
    background-image: url(images/icon-dynamic.button.svg);
}

#dynamic-clear > span.ui-icon-custom
{
    background-image: url(images/icon-dynamic.clear.svg);
}

#dynamic-mp > span.ui-icon-custom
{
    background-image: url(images/icon-dynamic.mp.svg);
}

#dynamic-p > span.ui-icon-custom
{
    background-image: url(images/icon-dynamic.p.svg);
}

#dynamic-pp > span.ui-icon-custom
{
    background-image: url(images/icon-dynamic.pp.svg);
}

#dynamic-ppp > span.ui-icon-custom
{
    background-image: url(images/icon-dynamic.ppp.svg);
}

#dynamic-pppp > span.ui-icon-custom
{
    background-image: url(images/icon-dynamic.pppp.svg);
}

#dynamic-ppppp > span.ui-icon-custom
{
    background-image: url(images/icon-dynamic.ppppp.svg);
}

#dynamic-mf > span.ui-icon-custom
{
    background-image: url(images/icon-dynamic.mf.svg);
}

#dynamic-f > span.ui-icon-custom
{
    background-image: url(images/icon-dynamic.f.svg);
}

#dynamic-ff > span.ui-icon-custom
{
    background-image: url(images/icon-dynamic.ff.svg);
}

#dynamic-fff > span.ui-icon-custom
{
    background-image: url(images/icon-dynamic.fff.svg);
}

#dynamic-ffff > span.ui-icon-custom
{
    background-image: url(images/icon-dynamic.ffff.svg);
}

#dynamic-fffff > span.ui-icon-custom
{
    background-image: url(images/icon-dynamic.fffff.svg);
}

#dynamic-sp > span.ui-icon-custom
{
    background-image: url(images/icon-dynamic.sp.svg);
}

#dynamic-spp > span.ui-icon-custom
{
    background-image: url(images/icon-dynamic.spp.svg);
}

#dynamic-sf > span.ui-icon-custom
{
    background-image: url(images/icon-dynamic.sf.svg);
}

#dynamic-sff > span.ui-icon-custom
{
    background-image: url(images/icon-dynamic.sff.svg);
}

#dynamic-fp > span.ui-icon-custom
{
    background-image: url(images/icon-dynamic.fp.svg);
}

#dynamic-sfz > span.ui-icon-custom
{
    background-image: url(images/icon-dynamic.sfz.svg);
}

#dynamic-rfz > span.ui-icon-custom
{
    background-image: url(images/icon-dynamic.rfz.svg);
}

#slur > span.ui-icon-custom
{
    background-image: url(images/icon-slur.svg);
}

#label-tie > span.ui-icon-custom
{
    background-image: url(images/icon-tie.svg);
}
