body
{
    border: none;
    border-style: none;
    background-color: #white;

    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

img
{
    border: none;
    border-style: none;
    outline: none;
}

#header
{
    position: absolute;
    top: 0;
    left: 0;
}

#left-margin
{
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    width: 75px;
}

#right-margin
{
    padding-left: 5px;
    padding-right: 5px;
    float: right;
    width: 100px;
}

#elevator
{
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#call
{
    position: absolute;
    top: 36px;
    left: 60px;
}

#title
{
    margin-left: 100px;
    vertical-align: top;
}

#feedback
{
    position: absolute;
    top: 50%;
    padding-left: 5px;
    padding-right: 5px;
}

#app
{
    background-color: #bbbbbb;
    border-style:solid;
    border-width:2px;
    border-color: #bbbbbb;
    border-right-width:1px;
    margin-top: 60px;
    margin-left: 60px;
    position: relative;
    float: left;
}

#toolbar
{
    background-color: #bbbbbb;
    margin-left: 10px;
    border-style:none;
    margin-top: 2px;
    margin-bottom: 2px;
}

#notebar
{
    background-color: #bbbbbb;
    margin-left: 10px;
    border-style:none;
    margin-top: 2px;
    margin-bottom: 2px;
}

#score-window
{
    float: left;
    overflow: auto;
    background-color: #bbbbbb;
    border-right: 2px dotted white;
}

#score
{
    /* darker background-color: #fcf1da; */
    /* middle background-color: #fcf6e8; */
    background-color: #fcf7ee; /* whiter */
    border-style: none;
    border: none;
    border-width: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

#editor-window
{
    float: left;
    overflow: auto;
    background-color: #bbbbbb;
    border-left: 2px dotted black;
}

#editor
{
    background-color: #ffffff;
    border-style: none;
    border: none;
    border-width: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

textarea#editor
{
    resize: none; 
}

#footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    border: none;
    border-style: none;
    padding-left: 10px;
    border-color: #000;
    background-color: #dddddd;
    display: none;
}

@font-face
{
    font-family: 'Emmentaler-20';
    src: url(fonts/emmentaler-20.otf);
} 
