#toolbar
{
    padding: 4px;
    display: inline-block;
}
/* support: IE7 */
*+html #toolbar
{
    display: inline;
}

.ui-button-icon-only
{
    height: 1.5em;
    width: 1.5em;
}

button.ui-button-icon-only
{
    height: 1.5em;
    width: 1.5em;
}

#document-new > span.ui-icon-custom
{
    background-image: url(images/icon-document-new.svg);
}

#document-open > span.ui-icon-custom
{
    background-image: url(images/icon-document-open.svg);
}

#document-save > span.ui-icon-custom
{
    background-image: url(images/icon-document-save.svg);
}

#document-save-as > span.ui-icon-custom
{
    background-image: url(images/icon-document-save-as.svg);
}

#document-export-ly > span.ui-icon-custom
{
    background-image: url(images/icon-document-properties.svg);
}

#document-print > span.ui-icon-custom
{
    background-image: url(images/icon-document-print.svg);
}

#document-svg > span.ui-icon-custom
{
    background-image: url(images/icon-document-print.svg);
}

#document-png > span.ui-icon-custom
{
    background-image: url(images/icon-document-print.svg);
}

#zoom-in > span.ui-icon-custom
{
    background-image: url(images/icon-zoom-in.png);
}

#zoom-out > span.ui-icon-custom
{
    background-image: url(images/icon-zoom-out.png);
}

#view-refresh > span.ui-icon-custom
{
    background-image: url(images/icon-view-refresh.svg);
}

#edit-cut > span.ui-icon-custom
{
    background-image: url(images/icon-edit-cut.svg);
}

#label-audio-play > span.ui-icon-custom
{
    background-image: url(images/icon-media-playback-start.svg);
}

#label-audio-play > span.ui-icon-custom.checked
{
    background-image: url(images/icon-media-playback-pause.svg);
}

#label-audio-volume-muted > span.ui-icon-custom
{
    background-image: url(images/icon-audio-volume-high.svg);
}

#label-audio-volume-muted > span.ui-icon-custom.checked
{
    background-image: url(images/icon-audio-volume-muted.svg);
}

#audio-volume
{
    display:inline-block;
    font-size:60%;
    width:100px;
}
